body {
  font-family: arial, sans-serif;
  background: #f9f7fe;
}
.weather-app {
  max-width: 800px;
  margin: 60px auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}
.weather-temperature img {
  margin-right: 10px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature .active {
  color: #272142;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  cursor: default;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  height: 19px;
  line-height: 48px;
}
h2 {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 500;
  height: 19px;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}
form {
  padding: 20px 0 0 0;
}

.btn {
  margin-top: 20px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #7c7c7c;
}
.weather-forecast-date {
  font-size: 16px;
  color: #7c7c7c;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
  color: #272142;
}
.weather-cloud {
  color: rgb(127, 127, 175);
  font-size: 200px;
}
.temperature {
  color: #272142;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.75;
}
.units {
  position: relative;
  font-size: 16px;
  top: -14px;
}
footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: #272142;
}
